.cache/
.config/**/BraveSoftware/
.config/**/coc/
.config/**/configstore/
.config/**/dconf/
.config/**/discord/
.config/**/menus/
.config/**/nautilus/
.config/**/nvim/
.config/**/obs-studio/
.config/**/pulse/
.config/**/spotify/
.config/**/yay/
*.log
.conda/
.empty/
.gnupg/
.miniconda/
.scripts/
.jupyter/
.local
.nv/
.nvm/
.pki/
.ssh/
.fehbg
.Xauthority
.xinitrc
.xsession-errors
.zcompdump
dls/
docs/
repos/
pics/
*.log
.gitconfig
