.AndroidStudio3.6/
.android/
.cling_history
.config/**/Android Open Source Project/
.config/**/Code - Insiders/
.config/**/Android/
.config/**/VSCodium/
.config/**/Mailspring/
.config/**/TabNine/
.config/**/flameshot/
.config/**/Element-Nightly/
.config/**/Electron/
.config/**/GIMP/
.config/**/Google/
.config/**/Ledger\ Live/
.config/**/Popcorn-Time/
.config/**/Postman/
.config/**/evolution/
.config/**/Session/
.config/**/MYKI/
.config/**/lagrange/
.yarnrc
.xsession
.surf/
Cloud/
Desktop/
Videos/
Documents/
.luarocks/
Pictures
.config/**/Myki/
.config/**/PCSX2/
.config/**/Oxen\ Electron\ Wallet/
.config/**/Signal\ Beta/
.config/**/Signal/
.config/**/blender/
.config/**/cef_user_data/
.config/**/fvim/
.config/**/pipewire-media-session/
.config/**/qtile/
.config/**/kritarc
.config/**/kritadisplayrc
.config/**/shadobar/
.config/**/screenkey.json
.config/**/dmenu
.config/**/dwm
.config/**/st
.config/st/*
.rustup/
.config/**/JetBrains/
.librewolf/
.node-gyp/
.gnome/
.kite/
.lemminx/
.pulse-cookie
.python_history*
.gist-vim
.viminfo.tmp
.steam*
.lc/
.luambenvs/
.steam/
.m2/
.electron-gyp/
.tooling/
.nuget/
.sdkman/
.vscode-oss/
.vscode-insiders/
.config/**/QtProject.conf
.config/**/Unknown Organization/
.config/**/VirtualBox/
.config/**/polybar-8/
.config/**/htop/
.config/Insomnia/
.config/google-chrome/
.docker/
workspace/
.local/bin/fnm
.local/bin/*
.links/
.w3m/
.wget-hsts
go/
.viminfo
.config/**/jesseduffield/
.config/**/balena-etcher-electron/
.config/**/dolphin-emu/
.config/fish/
.config/fontconfig/
.config/glava/
.config/**/kdenliverc
mimeapps.list
.config/**/omf/
.config/**/privateinternetaccess/
.config/**/volumeicon/
.config/**/zoomus.conf
.dmrc
.emulator_console_auth_token
.gradle/
.java/
.node_repl_history
.python_hue
.vscode/
.zoom/
Stuff/
.cache/
.pcloud/
.config/**/BraveSoftware/
.config/**/coc/
.config/**/configstore/
.config/**/dconf/
.config/**/discord/
.config/**/menus/
.config/**/nautilus/
.config/**/nvim/
.config/**/obs-studio/
.config/**/pulse/
.config/**/spotify/
.config/**/yay/
.config/**/coc/
.config/**/chromium/
.config/**/spotify-tui/
.config/**/nitrogen/
.config/**/pcloud/
.config/**/autostart/
.config/**/pavucontrol.ini
.pylint.d/
*.log
.conda/
.empty/
.gnupg/
.miniconda/
.scripts/
.jupyter/
.local/**/share
.local/**/lib
.cargo/
.thunderbird/
.nv/
.nvm/
.npm/
.ipython/
.local/state/
.ipynb_checkpoints/
.vim/
.fnm/
.pki/
.ssh/
.fehbg
.Xauthority
.xinitrc
.xsession-errors*
.zcompdump*
.zsh_history
.nvidia-settings-rc
dls/
docs/
repos/
pics/
Downloads/
Docs/
Repos/
Pics/
Code/
Blog/
*.log
.gitconfig
.oh-my-zsh
.NERDTreeBookmarks
.python_history
Blog
Pics
.icons/
.keras/
.kodi/
.lesshst
.mozilla/
Vids/
.config/xfce4/
.config/xylosper/
.gtkrc-2.0
.config/gatsby/
.config/gnome-control-center/
.config/monitors.xml
.config/cmus/autosave
.config/cmus/cache
.config/ranger/plugins/*
