# Starting compositor
picom -b

# Notification center
deadd-notification-center &

# Stop screen from going blank
xset s off
xset -dpms
xset s noblank

# add local binaries
export PATH=$HOME/.local/bin:/usr/local/bin:$PATH

# Faster key repeat and delay
xset r rate 210 40

# Hide Cursor when typing
xbanish &

# Open flameshot on startup
flameshot &

# Wallpaper
setbg ~/Pics/wallpapers

# Save your eyes
redshift & 
#redshift-gtk & 


# You don't need this and I should write a script to fix it
echo "connect 08:EB:ED:E2:A0:4D" | bluetoothctl
