
dwmblocks &
# # Wallpaper
feh --bg-fill --randomize ~/Pictures/wallpapers/* &
# 
# # nm-applet
nm-applet --indicator &
# 
# # Starting compositor
picom -b
# 
# # Notification center
deadd-notification-center &
# 
# # Bluetooth
blueman-applet &
# 
# # Stop screen from going blank
xset s off
xset -dpms
xset s noblank
# 
# # add local binaries
export PATH=$HOME/.local/bin:/usr/local/bin:$PATH
# 
# # Faster key repeat and delay
xset r rate 210 40
# 
# # Hide Cursor when typing
# xbanish &
# 
# 
# # Save your eyes
# redshift & 
# redshift-gtk & 
# 
# export LANG=en_US.UTF-8
# export PATH=$PATH:~/.scripts
# #export PATH=$HOME/.miniconda/envs/jupyter-lab/bin:$PATH
# 
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="brave"
# 
# export ANDROID_HOME=$HOME/.config/Android/Sdk
# export PATH=$PATH:$ANDROID_HOME/emulator
# export PATH=$PATH:$ANDROID_HOME/tools
# export PATH=$PATH:$ANDROID_HOME/tools/bin
# export PATH=$PATH:$ANDROID_HOME/platform-tools
# 
# # monitor layout
# # xrandr --auto --output DVI-D-0 --mode 2560x1440 --right-of DP-0
# 
pcloudcc -u chrisatmachine@gmail.com -m ~/Cloud -d

# exec dbus-launch dwm

# # Open flameshot on startup
flameshot &

# simple xsetset
# xsetroot -name chris@machine

