configuration {
show-icons: true;
terminal: "kitty";
click-to-exit: true;
steal-focus: true;
display-drun: "";
kb-remove-to-eol: "";
kb-accept-entry: "Control+m,Return,KP_Enter";
kb-row-up: "Up,Control+p,Control+k";
kb-row-down: "Down,Control+n,Control+j";
me-select-entry: "MouseDPrimary";
me-accept-entry: "MousePrimary";
  timeout {
      action: "kb-cancel";
      // delay: 10;
  }
  filebrowser {
      directories-first: true;
      sorting-method: "name";
  }
}
@theme "center"
