# Status Bar
dwmblocks &

# Random Photo Every Login
feh --bg-fill --randomize ~/Pictures/wallpapers/* &

# Monitor Config
xrandr --auto --output DVI-D-0 --mode 2560x1440 --right-of HDMI-0

# Network Manager Applet
nm-applet --indicator &

# Don't Randomly Turn off
xset s off
xset -dpms
xset s noblank

# Speedy keys
xset r rate 210 40

# Environment variables set everywhere
export EDITOR="nvim"
export TERMINAL="kitty"
export BROWSER="brave"

# XDG Paths
export XDG_CONFIG_HOME=$HOME/.config
export XDG_CACHE_HOME=$HOME/.cache
export XDG_DATA_HOME=$HOME/.local/share

# Compositor
picom -b

# Hide mouse when typing
xbanish &

# zsh config dir
export ZDOTDIR=$HOME/.config/zsh

# Screenshots
flameshot &

# Easy file sharing
pcloudcc -u chrisatmachine@gmail.com -m ~/Cloud -d
